In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}

In [3]:
df2 = pd.DataFrame(data)

In [4]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [5]:
df2.index.name = 'Yil'

In [6]:
df2

      Uzbekistan  Kazakhstan
Yil
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [7]:
df2 = pd.DataFrame(data, index=[2021, 2019, 2017])

In [8]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1

In [9]:
df2.T

            2021  2019  2017
Uzbekistan  33.9  32.9  31.9
Kazakhstan  18.9  18.5  18.1

In [10]:
df2.values

array([[33.9, 18.9],
       [32.9, 18.5],
       [31.9, 18.1]])

In [11]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1

In [12]:
indeks = df2.index

In [13]:
indeks

Int64Index([2021, 2019, 2017], dtype='int64')

In [14]:
indeks[0]

2021

In [15]:
indeks[-1]

2017

In [16]:
indeks[1:]

Int64Index([2019, 2017], dtype='int64')

In [17]:
indeks

Int64Index([2021, 2019, 2017], dtype='int64')

In [20]:
data1 = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}
df = pd.DataFrame(data)

In [21]:
df

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [22]:
df.columns

Index(['Uzbekistan', 'Kazakhstan'], dtype='object')

In [23]:
df.index

Int64Index([2021, 2020, 2019, 2018, 2017, 2016], dtype='int64')

In [24]:
"Tajikistan" in df.columns

False

In [25]:
"Uzbekistan" in df.columns

True

In [26]:
2020 in df.index

True

In [27]:
2000 in df.index

False

In [29]:
indeks = df.index

In [30]:
indeks

Int64Index([2021, 2020, 2019, 2018, 2017, 2016], dtype='int64')

In [31]:
usernames = {"anvar":"anvarbek223", "olim":"olimtoy", "maryam":"mary334455","javohir":"javohir445"}
emails = {"anvar":"anvar@gmail.com", "olim":"olim@mail.ru", "maryam":"mary33@gmail.com","javohir":"javohir445@gmail.com"}

data = {
    'username':usernames,
    'email':emails
}
df = pd.DataFrame(data)

In [32]:
df

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com

In [33]:
data2 = {
    'username':{"olim":"olimjon21", "maryam":"maryam2020"},
    'email':{"olim":"olimjon21@mail.ru", "maryam":"maryam20@gmail.com"}
}

In [36]:
df2 = df.append(pd.DataFrame(data2))

C:\Users\mrumi\AppData\Local\Temp\ipykernel_11108\289703299.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df.append(pd.DataFrame(data2))

In [37]:
df2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com

In [38]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [39]:
newind = pd.Index(['olim', 'nafisa', 'hamida']) # yandi index yaratamiz

In [40]:
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [45]:
newind.isin(df2.index) # newind df2.index tarkibida borligni tekshirish

array([ True, False, False])

In [48]:
df2.index.difference(newind)
# df2.index

Index(['anvar', 'javohir', 'maryam'], dtype='object')

In [49]:
newind.difference(df2.index)

Index(['hamida', 'nafisa'], dtype='object')

In [53]:
df2.index.union(newind)

Index(['anvar', 'hamida', 'javohir', 'maryam', 'maryam', 'nafisa', 'olim',
       'olim'],
      dtype='object')

In [69]:
df2.index.delete(0)

Index(['olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [70]:
df2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com

In [76]:
df2.index.drop('olim')

Index(['anvar', 'maryam', 'javohir', 'maryam'], dtype='object')

In [77]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [79]:
df2.index.insert(5, 'masha')
df2.index.insert(6, 'umidjon')

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam', 'umidjon'], dtype='object')

In [80]:
df2.index.is_monotonic

False

In [81]:
df2.index.is_unique

False

In [90]:
i = pd.Index([1, 3, 5, 7, 8])
i.is_monotonic

True

In [91]:
i.is_unique

True

In [92]:
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [94]:
newind.is_unique

True

In [99]:
df2.index.unique() # noyob (takrorlanmas) elementlar

Index(['anvar', 'olim', 'maryam', 'javohir'], dtype='object')

In [100]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')