In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from pandas import DataFrame

In [5]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}

In [6]:
df = DataFrame(data, columns=['Yil','Temp','Aholi soni','YAIM'], index=[21, 20, 19, 18, 17, 16, 15, 10])

In [7]:
df

     Yil  Temp  Aholi soni YAIM
21  2021  1.54        33.9  NaN
20  2020  1.48        33.5  NaN
19  2019  1.56        32.9  NaN
18  2018  1.62        32.5  NaN
17  2017  1.65        31.9  NaN
16  2016  1.66        31.4  NaN
15  2015  1.64        30.9  NaN
10  2010  1.53        28.5  NaN

In [8]:
YAIM = [1700, 1670, 1600, 1590, 1400, 1300, 1350, 1360]

In [9]:
df['YAIM'] = YAIM

In [10]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1670
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1590
17  2017  1.65        31.9  1400
16  2016  1.66        31.4  1300
15  2015  1.64        30.9  1350
10  2010  1.53        28.5  1360

In [12]:
indeks = df.index

In [13]:
indeks

Int64Index([21, 20, 19, 18, 17, 16, 15, 10], dtype='int64')

In [14]:
indeks[0]

21

In [15]:
indeks[-1]

10

In [16]:
df.columns

Index(['Yil', 'Temp', 'Aholi soni', 'YAIM'], dtype='object')

In [18]:
indeks[2:5]

Int64Index([19, 18, 17], dtype='int64')

In [19]:
data1 = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}

In [20]:
df = DataFrame(data1)

In [21]:
df

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [22]:
df.columns

Index(['Uzbekistan', 'Kazakhstan'], dtype='object')

In [23]:
df.index

Int64Index([2021, 2020, 2019, 2018, 2017, 2016], dtype='int64')

In [24]:
"Tadjikistan" in df.columns

False

In [25]:
2020 in df.index

True

In [26]:
indeks = df.index

In [27]:
indeks

Int64Index([2021, 2020, 2019, 2018, 2017, 2016], dtype='int64')

In [28]:
usernames = {"anvar":"anvarbek223", "olim":"olimtoy", "maryam":"mary334455","javohir":"javohir445"}
emails = {"anvar":"anvar@gmail.com", "olim":"olim@mail.ru", "maryam":"mary33@gmail.com","javohir":"javohir445@gmail.com"}

data = {
    "username":usernames,
    'email':emails
}
df = pd.DataFrame(data)

In [29]:
df

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com

In [30]:
data2 = {
    'username':{"olim":"olimjon21", "maryam":"maryam2020"},
    'email':{"olim":"olimjon21@mail.ru", "maryam":"maryam20@gmail.com"}
}

In [35]:
df2 = pd.concat([df, pd.DataFrame(data2)])

In [37]:
df2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com

In [38]:
df2.columns

Index(['username', 'email'], dtype='object')