In [9]:
import numpy as np
from pandas import DataFrame
import pandas as pd

In [2]:
usernames = {"anvar":"anvarbek223", "olim":"olimtoy", "maryam":"mary334455","javohir":"javohir445"}
emails = {"anvar":"anvar@gmail.com", "olim":"olim@mail.ru", "maryam":"mary33@gmail.com","javohir":"javohir445@gmail.com"}

data = {
    'username':usernames,
    'email':emails
}

In [3]:
df = DataFrame(data)

In [4]:
df

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com

In [5]:
data2 = {
    'username':{"olim":"olimjon21", "maryam":"maryam2020"},
    'email':{"olim":"olimjon21@mail.ru", "maryam":"maryam20@gmail.com"}
}
df2 = DataFrame(data2)
df2

          username               email
olim     olimjon21   olimjon21@mail.ru
maryam  maryam2020  maryam20@gmail.com

In [11]:
df3 = pd.concat([df, df2])

In [12]:
df3

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com

In [13]:
df3.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [14]:
newind = pd.Index(['olim', 'sardor', 'bobur'])

In [15]:
newind

Index(['olim', 'sardor', 'bobur'], dtype='object')

In [16]:
newind.isin(df3.index)

array([ True, False, False])

In [18]:
df3.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [19]:
newind

Index(['olim', 'sardor', 'bobur'], dtype='object')

In [20]:
df3.index.difference(newind)

Index(['anvar', 'javohir', 'maryam'], dtype='object')

In [22]:
newind.difference(df3.index)

Index(['bobur', 'sardor'], dtype='object')

In [24]:
df3.index.union(newind)

Index(['anvar', 'bobur', 'javohir', 'maryam', 'maryam', 'olim', 'olim',
       'sardor'],
      dtype='object')

In [25]:
df3.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [26]:
df3.index.delete(0)

Index(['olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [27]:
df3.index.delete(3)

Index(['anvar', 'olim', 'maryam', 'olim', 'maryam'], dtype='object')

In [28]:
df3.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [39]:
df3.index.drop('olim')

Index(['anvar', 'maryam', 'javohir', 'maryam'], dtype='object')

In [40]:
df3.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [41]:
df3.index.insert(5, 'abbos')

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'abbos', 'maryam'], dtype='object')

In [42]:
df3.index.is_monotonic

False

In [43]:
df3.index.is_unique

False

In [45]:
newind

Index(['olim', 'sardor', 'bobur'], dtype='object')

In [46]:
newind.is_unique

True

In [50]:
df3.index.unique()

Index(['anvar', 'olim', 'maryam', 'javohir'], dtype='object')