In [1]:
import numpy as np
import pandas as pd

In [28]:
uz = {2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9, 2016:31.4, 2015:30.9}
kz = {2020:18.8, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8, 2015:17.6}
tj = {2020:9.5, 2019:9.3, 2018:9.1, 2017:8.9, 2016:8.7, 2015:8.5}
kg = {2020:6.5, 2019:6.4, 2018:6.3, 2017:6.2, 2016:6.1, 2015:6.0}
tr = {2020:6.0, 2019:5.9, 2018:5.9, 2017:5.8, 2016:5.6, 2015:5.6}

df = pd.DataFrame(
    {'Uzbekistan':uz,
     'Kazakhstan':kz,
     'Tajikistan':tj,
     'Kyrgizstan':kg,
     'Turkmenistan':tr
    }
)

In [33]:
df.loc[[2020]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0

In [37]:
df.loc[[2017, 2020]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2017        31.9        18.1         8.9         6.2           5.8
2020        33.5        18.8         9.5         6.5           6.0

In [40]:
df.loc[[2020, 2017, 2015], ['Uzbekistan', 'Tajikistan', 'Turkmenistan']]

      Uzbekistan  Tajikistan  Turkmenistan
2020        33.5         9.5           6.0
2017        31.9         8.9           5.8
2015        30.9         8.5           5.6

In [43]:
df.iloc[[0, 2, 4]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2018        32.5        18.3         9.1         6.3           5.9
2016        31.4        17.8         8.7         6.1           5.6

In [46]:
df.iloc[[0], [0, 3, 4]]

      Uzbekistan  Kyrgizstan  Turkmenistan
2020        33.5         6.5           6.0

In [47]:
df.iloc[[0, 1, 2], [0, 3, 4]]

      Uzbekistan  Kyrgizstan  Turkmenistan
2020        33.5         6.5           6.0
2019        32.9         6.4           5.9
2018        32.5         6.3           5.9

In [50]:
df.loc[:2017, 'Uzbekistan']

2020    33.5
2019    32.9
2018    32.5
2017    31.9
Name: Uzbekistan, dtype: float64

In [51]:
df.loc[:2017, ['Uzbekistan']]

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5
2017        31.9

In [52]:
nums = list(range(10, 21))
nums

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [53]:
nums[0]

10

In [54]:
nums[-1]

20

In [57]:
nums = pd.Series(np.arange(1., 11))
nums

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [58]:
nums[0]

1.0

In [60]:
nums.iloc[-1]

10.0

In [62]:
ser = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
ser

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [63]:
ser[-1]

4.0

In [64]:
nums.iloc[-1]

10.0

In [65]:
nums.iloc[4]

5.0

In [67]:
ser.loc['d']

3.0

In [68]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [69]:
df.at[2015, 'Uzbekistan']

30.9

In [70]:
df.iat[3, 2]

8.9